<?xml version="1.0" encoding="UTF-8"?>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        internalLogFile="c:\temp\NLogMailKitConsole-internal.txt" internalLogLevel="Trace"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  <targets>
  

    <target name="mail" xsi:type="Mail"
         smtpAuthentication="Basic"
         smtpServer="xxxx"
         smtpPort="465"
         enableSsl="true"
         secureSocketOption="SslOnConnect"
         subject="RIS-Fehlerbenachrichtigung von ${mdc:customername}"
         from="xxxx"
         body="${message}"
         to="xxxx"
         smtpUserName="xxxx"
         smtpPassword="xxxx"
    />

  </targets>
  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="mail"/>
  </rules>
 </nlog> 